.table-box, #form-box{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.table, form{
    width: 66.18033989vw;
}

#item-form{
    width: 66.18033989vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hidden{
    display: none !important;
}

.highlight {
  background-color: rgba(0, 123, 255, 0.3) !important;
  transition: 1.5s ease;
}

.delete-button {
    color: rgb(211, 39, 39);
    transition: 0.2s ease;
}

.delete-button:hover {
    color: rgb(132, 28, 28);
}

.profile {
    color: #144473;
    cursor: pointer;
    transition: color 0.2s ease;
}

.profile:hover {
    color: #001f3f;
}